<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidbelieve.materialnavigationdrawer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label=""
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCeNMzhIXRjctV0RsCOwnyvSHs8ZG-Qy5Q
" />

        

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"

            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".Main_Page"
            android:screenOrientation="portrait"
           />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme" />
        <activity
            android:name=".Register_Activity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Post_Activity"
            android:label="@string/title_activity_post"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ListViewAdapter"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_list_view_adapter" />
        <activity
            android:name=".Find_Activity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_find" />
        <activity
            android:name=".Transport_Select_Activity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_transport__select" />
        <activity
            android:name=".Bus_Activity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_bus_list" />
        <activity
            android:name=".Tremps_Activity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_rides_list" />
        <activity
            android:name=".MapsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_location_"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MyDetails_Activity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_my_details_"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Integrated_Activity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_integrated_"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Check"
            android:label="@string/title_activity_check1"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Myrides_Activity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_myrides"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".My_Passangers"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_my__passangers"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
